{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %} active  {% endblock aboutactive %}

{% block body %}

<body>
    <div style="height: 920px;">
        <div style=" height: 30%;
            display: flex;
            background-color: #E7F5DC">
            <div style="width: 40%;
            position: relative;
            left: 140px;
            top: 20px;">
                <h2 style="
                font-size: 40px;
                font-weight: bold;
             " >About Us</h2>
             <p>Hi, I'm Sara Babar , sharing my journey, one blog post at a time. Where my love for learning meets your curiosity. Discovering, creating, and sharing  my blogging adventure.</p>
                </p>
                <p>
                  <ol><li>"Welcome to BlogoSphere, where passion meets knowledge.</li>
                 <li> "Exploring ideas, inspiring minds.</li>
                 <li> "Your trusted source for insightful content.</li></ol>
                 
            </div>
            <div style="position: relative;
            left: 250px;
            top: 40px;">
                  <img style="width: 340px;
              height: 220px;" src="/static/img/blog1.jpeg" alt="">
            </div>
        </div>
        <div style="  position: relative;
            top: 20px;
            height: 40%;
            display: flex; background-color: #88976C;
            margin-top: -20px;
            ">
            <div style=" width: 37%;
            position: relative;
            left: 130px;
            text-align: justify;
            top: 25px;">
                   <img style="  width: 400px;
              height: 245px;" src="/static/img/blog2.jpeg"  alt="">
            </div>
            <div style="position: relative;
            left: 0px;
            top: 50px;" class="box4">
                <h2 style="
                font-size: 40px;
                font-weight: bold;
             " >My Motivation</h2> 
                <p>
                  Through this platform, I aim to:
                  <ol>
                    <li>Educate and inspire readers</li>
                      <li>Build a supportive community
                     </li>
                        <li>Explore cutting-edge topics</li>
                  </ol>
                </p> 
            </div>
            <div style="position: relative;
            left:50px;
            top: 50px;">
              <h2 style="
              font-size: 40px;
              font-weight: bold;
           " > The Genesis Of BlogoSphere</h2>
             <p>Inspired by the overwhelming response, I launched THE BLOGOSPHERE to:
              <ol>
                <li>Share insightful perspectives</li>
                <li>Foster engaging discussion</li>
               <li>Provide valuable resources</li>
              </ol>
            </p>
            </div>
        </div>
        <div style="position: relative;
            text-align: justify;
            top: 50px;
            height: 40%;
            margin-top: -30px;
            
            display: flex; background-color:  #E7F5DC;;">
            <div style="width: 40%;
            position: relative;
            left: 130px;">
                <h2 style="
                font-size: 40px;
                font-weight: bold;
                margin-top: 20px;" >
             Our Story</h2>
                <p>My blogging journey began as a final-year project during my university days. What started as an academic requirement soon transformed into a passion-driven venture. I discovered my love for sharing ideas, experiences, and knowledge with like-minded individuals.</p>
                <p>As a Person with a passion for Writing blogs, I bring a unique voice to the blogging sphere.
                   Follow me on social media <a href="https://www.sarababar1024/instagram.com">sarababar1024</a>to stay updated.</div>
            <div style="
            width: 33%;
            position: relative;
            left: 250px;
            top: 15px;">
                <img style=" width: 400px;
              height: 245px;
              margin-top: 20px;" src="/static/img/blog3.jpg"alt="">
            </div>
        </div>
    </div>
</body>
</html>

 {% endblock %}