{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}

<div style="background-color: #88976C; " class="container">
    <div style="background-color: #88976C; color: E7F5DC; " class="jumbotron my-3">
      <h1 class="display-4">Welcome to THE BLOGOSPHERE!</h1>
      <p class="lead">Welcome to a space where ideas flourish. Explore, learn, and grow with us. Spark curiosity, ignite minds, and unlock your potential.</p>
      <hr class="my-4">
      <p>Hey there! Thanks for stopping by. We're excited to share our passions with you.</p>
      <a style="background-color: #E7F5DC;" class="btn btn-lg" href="/blog" role="button">Go to Blog</a>
      </div>
    </div>


 {% endblock %}